.product-card {
    @apply snap-start h-full;

    &__image {
        @apply bg-bln-dark-secondary px-10 py-20 flex justify-center items-center relative;
        height: 80%;
    }

    &__add-to-cart {
        @apply hidden h-5;;
    }

    &:hover {

        .product-card__price {
            @apply hidden;
        }

        .product-card__add-to-cart {
            @apply block;
        }
    }
}

.blog-card{
    @apply flex flex-col gap-4 p-2;
    min-width: 90%;
    width: 400px;
}

@screen lg {

    .blog-card{
        @apply min-w-0 w-1/3;
    }
}