.product-card {
    @apply flex flex-col row-gap-2 ;
    width: 400px;

    &__image {
        @apply bg-bln-dark-secondary px-10 py-20 flex justify-center items-center;
        width: 300px;
        height: 400px;
    }

    &:hover {

        .product-card__price {
            @apply hidden;
        }

        .add_to_cart_button {
            @apply block;
        }
    }
}
.blog-card{
    @apply flex flex-col gap-4 p-2;
    min-width: 90%;
    width: 400px;
}
@screen lg{
    .blog-card{
        @apply min-w-0 w-1/3;
    }
}