.header {
    @apply bg-bln-dark-secondary px-4 flex flex-wrap items-center justify-center col-gap-4 row-gap-4;
    padding-top: clamp(.5rem, 1vw, 1.5rem);
    padding-bottom: clamp(.5rem, 1vw, 1.5rem);

    &__hamburger {
        @apply mr-auto order-1;
    }

    &__form-search {
        @apply order-2;
        width: clamp(10rem,15vw,15rem);
    }

    &__button-user {
        @apply order-3;
    }

    &__link-cart {
        @apply order-4;
    }

    &__price-total {
        @apply hidden;
    }

    &__site-branding {
        @apply order-5;
    }

    &__menu {
        @apply hidden order-6 w-full;

        &--show {
            @apply block;
        }
    }
}

@screen sm {
    .header {

        &__hamburger {
            @apply mr-0;
        }

        &__site-branding {
            @apply order-1 mr-auto;
        }
    }
}

@screen lg {
    .header {

        &__hamburger {
            @apply hidden order-none;
        }

        &__form-search {
            @apply order-4;
        }

        &__button-user {
            @apply order-5;
        }

        &__link-cart {
            @apply order-3 flex col-gap-2;
        }

        &__price-total {
            @apply block;
        }

        &__site-branding {
            @apply mr-0;
        }

        &__menu {
            @apply block order-2 mr-auto w-auto;
        }
    }
}