.container-single{
    &__image{
        @apply w-full flex flex-col justify-center items-center;
        &__caption{
            @apply text-sm py-4 italic text-bln-white-font;
            &::before{
                content: "In the picture: ";
                font-style: normal;
            }
            &::selection{
                @apply bg-bln-dark-primary text-bln-gray-font;
            }
        }
    }
    &__image > img{
        @apply border-white border-2 cursor-pointer transition-all duration-1000;
            &:hover{
                @apply w-4/5;
            }
    }
}
.testimonials__card__img{
    @apply rounded-full -mt-16 w-24;
}
.woocommerce-product-gallery{
    @apply w-1/3;
}

.woocommerce-product-gallery__trigger img{
    opacity:0
}
.woocommerce-product-gallery__trigger{
    background:url(https://i.postimg.cc/yxY9yzPq/expand.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
}
.woocommerce-product-gallery__trigger:before{
    opacity:0;
}
.woocommerce-product-gallery__trigger:after{
    opacity:0;
}
.single-product div.product .woocommerce-product-gallery {
    @apply flex flex-col gap-4 relative float-left;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	top: 2em;
	right: 1em;
	z-index: 99;
    @apply absolute block p-4;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
    @apply border-2 border-bln-dark-third;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    @apply m-0 p-0 flex gap-4;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
    @apply list-none cursor-pointer float-left border-2 border-bln-dark-third p-2;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	opacity: 0.5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 30.79667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
	clear: both;
}
