.list-cat{
    @apply mr-4;
    .woocommerce{
        @apply w-full;
        min-width:90%;
        .products{
            @apply flex overflow-scroll gap-4 p-4;
            scrollbar-width: none;
                .product-category{
                    @apply text-sm text-bln-white-font border-2 border-bln-red flex justify-center;
                    min-width:50%;
                }
                .product-category > a{
                    @apply flex flex-col gap-2 p-1 items-center;
                }
                .product-category > a > img{
                    @apply w-16;
                }
        }
    }
}
@screen lg{
    .list-cat{
        @apply w-full flex justify-center items-center;
        .woocommerce{
            @apply min-w-0;
            .products{
                @apply flex justify-center gap-4 py-6;
                    .product-category{
                        @apply w-32 text-sm text-bln-white-font border-2 border-bln-dark-secondary duration-300 transform min-w-0;
                        &:hover{
                            @apply rounded-2xl border-2 border-bln-red text-bln-red translate-x-1 translate-y-1;
                        }
                    }
            }
        }
    }
}