.slider-section {
    @apply overflow-hidden mt-8;

    &__header {
        @apply flex justify-between items-center px-4;
    }

    &__title {
        @apply text-bln-white-font flex items-center col-gap-2;
        font-size: clamp(1rem, 2vw, 3rem);

        strong {
            @apply font-extrabold;
        }

        &__icon {
            @apply w-6 h-6;
        }
    }

    &__buttons {
        @apply flex w-20 h-10 col-gap-2;
    }

    &__content {

        @apply flex snap snap-x snap-proximity transition duration-150 mt-2;
    }

    &__card {
        @apply px-6;
        min-width: 100%;
    }
}

@screen xs {

    .slider-section {

        &__card {
            min-width: 50%;
        }
    }
}

@screen lg {

    .slider-section {

        &__card {
            min-width: 33%;
        }
    }
}

@screen xl {

    .slider-section {
        @apply mx-32;

        &__card {
            min-width: 25%;
        }
    }
}