.woocommerce-breadcrumb{
    @apply py-8 px-2 font-bold text-bln-white-font flex flex-wrap text-xs items-center;
    background-color: #454545;
    background-image:  linear-gradient(30deg, #7D7D7D 12%, transparent 12.5%, transparent 87%, #7D7D7D 87.5%, #7D7D7D), linear-gradient(150deg, #7D7D7D 12%, transparent 12.5%, transparent 87%, #7D7D7D 87.5%, #7D7D7D), linear-gradient(30deg, #7D7D7D 12%, transparent 12.5%, transparent 87%, #7D7D7D 87.5%, #7D7D7D), linear-gradient(150deg, #7D7D7D 12%, transparent 12.5%, transparent 87%, #7D7D7D 87.5%, #7D7D7D), linear-gradient(60deg, #7D7D7D77 25%, transparent 25.5%, transparent 75%, #7D7D7D77 75%, #7D7D7D77), linear-gradient(60deg, #7D7D7D77 25%, transparent 25.5%, transparent 75%, #7D7D7D77 75%, #7D7D7D77);
    background-size: 26px 46px;
    background-position: 0 0, 0 0, 13px 23px, 13px 23px, 0 0, 13px 23px;
}
.woocommerce-breadcrumb > a{
    @apply bg-bln-dark-secondary p-2 rounded-md text-bln-red;
}
@screen lg{
    .woocommerce-breadcrumb{
        @apply text-xl;
    }
}